<section class="login-page">
  <p-card class="login-card" header="Bem-vindo ao Rleo Motos">
    <form [formGroup]="form" (ngSubmit)="submit()" class="p-fluid">
      <div class="p-field">
        <label>Email</label>
        <input pInputText formControlName="email" type="email" />
      </div>
      <div class="p-field">
        <label>Senha</label>
        <input pInputText formControlName="password" type="password" />
      </div>
      <button pButton type="submit" label="Entrar" [disabled]="loading"></button>
    </form>
  </p-card>
</section>
